body {
    margin: 0;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

.contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#superficie {
    width: 227px;
    height: 227px;
    border: 2px solid #444;
    display: block;
}


.texto {
    margin-top: 12px;
    text-align: center;
    font-size: 1.1em;
    opacity: 0.8;
}
